
@{
    ViewBag.Title = "Admin";
}


<div>
	<h3>Добавление</h3>
	<div>
		@Html.ActionLink("Добавить заведение", "AddHall")
	</div>
	<div>
		@Html.ActionLink("Добавить занятие", "AddWorkout")
	</div>
	<div>
		@Html.ActionLink("Добавить тренера", "AddTrainer")
	</div>
</div>

<br />

<div>
	<h3>Изменение/Удаление</h3>
	<div>
		@Html.ActionLink("Заведения", "Halls")
	</div>
	<div>
		@Html.ActionLink("Занятия", "Workouts")
	</div>
	<div>
		@Html.ActionLink("Тренера", "Trainers")
	</div>
</div>

<div>
	<h3>Изменение/Удаление</h3>
	@Html.ActionLink("Изменение/Удаление", "Multi")
</div>