
@{
    ViewBag.Title = "Admin";
}


<div>
	<h3>Добавление</h3>
	<div>
		@Html.ActionLink("Добавить заведение", "AddHall")
	</div>
	<div>
		@Html.ActionLink("Добавить занятие", "AddWorkout")
	</div>
	<div>
		@Html.ActionLink("Добавить тренера", "AddTrainer")
	</div>
</div>

<hr />

<div>
	<h3>@Html.ActionLink("Изменение/Удаление", "Multi")</h3>
</div>

<hr />

<div>
	<h3>@Html.ActionLink("Список тренеров", "Trainers")</h3>
</div>