<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site_adaptive.css" rel="stylesheet" type="text/css" />
	@RenderSection("Styles", false)
    <script src="~/Scripts/url.manager.js"></script>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*@MvcHtmlString.Create(ViewBag.Head + "")*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
	<script>
		function getApiUrl(path){ return location.origin + "/api/" + (path||""); };
	</script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/filter_ajax.js"></script>
	@RenderSection("Scripts", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sport Guide", "Index", "Common", new { area = "" }, new { @class = "navbar-brand" })
                @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "form-inline" }))
				{
                    <div class="form-group no-active">
                        <div>
                            <input id="search" class="form-control search" type="text" name="s" value="@Request.Params["s"]" placeholder="Поиск" />
                            <input class="btn btn-default search-btn" type="submit" value="Найти" />
                        </div>
                        <div>
                            <span class="wrapper-select">
                                <select id="sport-category" name="categoryId" class="select-sport-category">
                                    <option value="">Любая категория</option>
                                    @foreach (var cat in StaticData.Categories)
									{
                                        <option value="@cat.id">@cat.category_name</option>
									}
                                </select>
                            </span>
                            <span id="kind-of-sport-container" class="wrapper-select"></span>
                        </div>
                        <script>
                            // init select elem of category by "get parameter"
                            !function () {
                                var categs = document.getElementById("sport-category");
                                categs.value = @{
									string catId = Request.Params["categoryId"] ?? "''";
									@MvcHtmlString.Create(catId)
                                };

                                // on change of select elem
	                            $(document).ready(function() {
		                            //$(categs).change(); // may
		                            var ev = document.createEvent("HTMLEvents");
		                            ev.initEvent("change", false, true);
		                            categs.dispatchEvent(ev);
	                            });
                            }()
                        </script>
                    </div>
				}
            </div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@if (User.Identity.IsAuthenticated)
					{
						<li>@Html.ActionLink("Выход", "SignOut", "User")</li>
						<li>@Html.ActionLink("Админ", "Index", "Admin")</li>
					}
					else {
						<li>@Html.ActionLink("Вход", "SignIn", "User")</li>
					}
					<li>@Html.ActionLink("Регистрация", "Register", "User")</li>
					<li>@Html.ActionLink("О проекте", "About", "Common")</li>
				</ul>
			</div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year - Sport Guide Project</p>
            <p style="color: gray;">kofon95@mail.ru</p>
        </footer>
    </div>
</body>
</html>